@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to DEGCA Home page!";
}

@*Collect all the children in the database to display*@
    <div class="mt-5" style="background-image:url('/images/many-children.JPG'); background-size:cover; background-repeat:no-repeat; height: 500px">
        <div class="container">
            <div class="row">
                <div class="col mt-5">
                    <h1 class="m-4" style="font-size:100px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:white">DEGCA</h1>
                    <h4 class="m-1" style="font-size: 40px; font-family: 'Times New Roman'; color:white; font-weight:bold;">David E. Gregory Christian Academy</h4>
                    <a class="btn btn-lg btn-light" href="@Url.Page("/Volunteer/Index")"><b>START HERE TO GET INVOLVED</b></a>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: lightgray;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12" style="font-family:'Comic Sans MS';">
                    <h3 class="m-4" style="text-align:center;"><b>Support a child today!</b></h3>

                    <p>When you support a child, you'll be personally connected with a boy or girl who will know your name and treasure he thought that you care. Your support would provide life-changing opportunities such as:</p>

                    <ul>
                        <li>an opportunity to attend or stay in school</li>
                        <li>medical care, which often saves lives</li>
                        <li>nourishing food</li>
                        <li>mentoring and a safe environment through support for building descent classroom blocks</li>
                        <li>and most important, an opportunity to hear the gospel</li>
                    </ul>

                    <hr />

                    <h3 class="m-4" style="text-align:center;"><b>Support our projects!</b></h3>

                    <p>Your regular given to support our ministry would help us continue and complete our projects. Some of the projects we are involved in are as follows:</p>

                    <ul>

                    </ul>
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="card m-4">
                         <img src="~/images/give.jpg" class="card-img-top"/>
                        <h6 class="card-header">Give your best support</h6>
                        <div class="card-body">
                            Our giving is done using a paypal account. This give link would take you Paypal's website. Use your existing Paypal account to give to support raising these children and our missions activities.
                        </div>
                        <form action="http://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_donations" />
                            <input type="hidden" name="business" value="EH5LY8HP59Z92" />
                            <input type="hidden" name="item_name" value="David E Gregory Christian Academy in Ghana West Africa" />
                            <input type="hidden" name="currency_code" value="USD" />
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                            <img alt="" border="0" src="https://www.paypal.com/en_US/i/src/pixel.gif" width="1" height="1" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-4">
            <div class="col-12">

                <div class="m-4" style="text-align:center;">
                    <h5 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:blue">Support a child to dream</h5>
                </div>

                @if (Model.ViewModel.Children.Count > 0)
                {
                    foreach (var child in Model.ViewModel.Children)
                    {
                        <div class="card m-2" style="width: 16rem; float:left">

                            @if (child.Phtotograph == null)
                            {
                                <img src="~/images/21104.png" class="card-img-top" alt="@child.Fullname" width="80" height="200" />
                            }
                            else
                            {
                                <img src="@Url.Page("ChildImage", new { Id = child.Id })" class="card-img-top" alt="@child.Fullname" width="80" height="200" />
                            }

                            <div class="card-body">
                                <h6 class="card-title">@child.Fullname</h6>
                                <p class="card-subtitle">Date of Birth: @child.DateOfBirth.ToShortDateString()</p>
                            </div>
                            <a class="btn btn-secondary card-link" href="@Url.Page("/Volunteer/PreviewChild", new { Id = child.Id })">SUPPORT ME</a>
                        </div>
                    }
                }
            </div>
        </div>

        @await Component.InvokeAsync("Events")
    </div>